.card{
    margin: auto;
    margin-top: 100px;
    height: 360px;
    background-color:#e5e5e5;
    font-family: 'Roboto Slab', serif;
    border: black;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
}
.hh{
    margin: auto;
    padding: 4px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    display: flex;
 }